@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");

* { box-sizing: border-box; }

body {
  background-color: black;
  color: white;
  font-family: arial;
  text-align: center;
  font-family: 'Montserrat';
}

h1 {
  font-size: 4em;
  margin: 0;
}

h1, h2, #number, #result {
  font-family: 'Abril Fatface';
}

#number, #result {
  font-size: 3em;
  margin: 30px auto 0px auto;
}

p {
  line-height: 25px;
  max-width: 70%;
  margin: 0 auto;
}

#wrapper {
  max-width: 90%;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}

.row {
  padding: 25px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  text-align: center;
  background-color: black;
  padding: 10px;
  transition: 0.2s;
  border-radius: 20px;
}

.emoji {
  font-size: 100px;
}

.place {
  font-size: 18px;
}

.active {
  background: white;
  transform: scale(1.1);
  box-shadow: 0 0 35px white;
}

.active .place {
  color: black;
}

.hidden {
  display: none;
}

button {
  background: black;
  color: white;
  border: 1px solid white;
  padding: 15px;
  font-size: 1.1em;
  border-radius: 20px;
  margin: 40px;
  font-family: 'Montserrat';
}

button:hover {
  background: #333;
  cursor: pointer;
}

#result {
  margin: 40px auto;
}
