---
import MdxLayout from '../layouts/MdxLayout.astro';
import Card from '../components/Card.astro';
import Content from 'src/mdx/demos.mdx';
const base = import.meta.env.MODE === 'production' ? '/games-uner' : '';
//const base = import.meta.env.MODE === 'production' ? '' : '';
---

<MdxLayout title="Juegos">
	<h1>
		<span transition:name="demos">Comilación de</span><br />
		<span class="text-gradient">juegos</span> para aprender computación
	</h1>

	<Content />
	<ul role="list" class="link-card-grid" transition:name="bot">
		<Card
			what="Binario a Decimal"
			href={`${base}/binario`}
			title="Binario a Decimal"
			icon="🔢"
			body="Practica la conversión entre números binarios y decimales de forma interactiva."
			reload
		/>
		<Card
			what="Juego de 4 Bits"
			href={`${base}/binario`}
			title="Juego de 4 Bit"
			icon="💡"
			body="Enciende las luces correctas para representar números binarios en 4 bits."
			reload
		/>		
		<Card
		what="Matriz Binaria"
		href={`${base}/matriz`}
        title="Matriz Binaria"
        icon="🧮"
        body="Explora y aprende sobre matrices binarias con este divertido juego educativo."
		reload
	/>		
	</ul>
</MdxLayout>

<style is:global>
	::view-transition-old(demos) {
		opacity: 0;
	}
	::view-transition-group(root) {
		animation-duration: 1s;
	}

	::view-transition-old(dtb) {
		animation: to-bottom 1s both
	}
	@keyframes to-bottom {
		to {
			transform: translateY(100%);
		}
	}

	:root {
		--accent: 135, 206, 235;
		--accent-gradient: linear-gradient(330deg, #000, rgb(135, 206, 235));
	}
	html {
		font-family: sans-serif;
	}
	code {
		font-family: monospace;
	}
</style>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	html body {
		max-width: 90%;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.instructions a {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
